# macOS system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
env/
venv/
conda-env/
*.env

# Data
data/
*.csv
*.xlsx
*.parquet

# Jupyter
.ipynb_checkpoints/

# Data science outputs
*.joblib
*.pkl

# System files
Thumbs.db